
    h3{
      color: #fff;
      background-color: #64B5F6;
      height: 56px;
      line-height: 56px;
    }
    input{
      background-color: #fff;
      color: gray;
    }
    textarea{
      height: 200px;
    }

// .container{
//   width: 70%;
//   padding-top: 60px;

//     h3{
//       color: #fff;
//       background-color: #64B5F6;
//       height: 56px;
//       line-height: 56px;
//     }
//     input{
//       background-color: #fff;
//       color: gray;
//     }
//     textarea{
//       height: 200px;
//     }

// }
